{% extends 'base.html.twig' %}

{% block body %}
{% if status_code == 404 %}
<h1>Are you lost ?</h1>
<h2>La page que vous avez demandé n'existe pas</h2>
{% elseif status_code == 500 %}
<h1>Erreur serveur</h1>
<h2>Désolé, une erreur est survenue. Nos admisnitrateurs ont été prévenus. Nous vous proposons de retenter plus tard.</h2>
{% else %}
<h1>Erreur</h1>
<h2>{{ status_code }}</h2>
<h2>{{ status_text }}</h2>	
{% endif %}
{% endblock %}